.post-header {
  margin-bottom: 1rem;

  .post-title {
    font-weight: $post-title-font-weight;
    margin-bottom: 1rem
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    font-size: 0.9rem;
    color: $post-meta-font-color;

    .post-category {
      display: inline;

      a {
        color: inherit;

        &::before {
          content: '·';
        }

        &:hover {
          color: $theme-color;
        }
      }
    }

    .more-meta {
      &::before {
        content: '·';
      }
    }

  }
}
