{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . -}}
              <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end -}}
          </div>
        {{- end }}
        {{- if .Site.Params.moreMeta }}
          <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
          <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}
        {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.pagePV -}}
          {{ $valueSpan := printf `<span id="busuanzi_value_page_pv"><img src="%s" alt="spinner.svg"/></span>` ("img/spinner.svg" | relURL) -}}
          <span id="busuanzi_container_page_pv" class="more-meta"> {{ printf (T "pagePV") $valueSpan | safeHTML }} </span>
        {{- end }}
      </div>
    </header>

    <!-- TOC -->
    {{- partial "posts/toc.html" . -}}

    <!-- Outdated Info Warning -->
    {{- partial "posts/outdated-info-warning.html" . -}}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    {{- partial "posts/copyright.html" . -}}

    <!-- Reward -->
    {{- partial "posts/reward.html" . -}}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . -}}
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end -}}
        </div>
      {{- end -}}

      <!-- Recent Articles -->

      {{ $currentPageType := .Type }}
      {{ $recentPosts := first 5 (where .Site.RegularPages "Type" $currentPageType) }}
      {{ if gt (len $recentPosts) 1 }}
      <div class="recent-posts">
          <h2>More recent posts</h2>
          <ul>
              {{ range $recentPosts }}
                  {{ if ne .Title $.Title }}
                  <li>
                            <div class="post-meta">
                      <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
</div>
                      <!-- <span class="post-date"> - {{ .Date.Format "January 2, 2006" }}</span> -->
                  </li>
                  {{ end }}
              {{ end }}
          </ul>
      </div>
      {{ end }}

    </footer>
  </article>
{{- end }}
